{% load static%}
<!DOCTYPE html>
<html>
    <head>
        <title>Play Beer Game</title>
        <link rel="stylesheet" href="{% static 'player/styles.css' %}">
    </head>
    <body>
        <div id="top_bar">
            <a href="" class="active">Home</a>
        </div>
        <div id="play_intro">
            <h3>Please Select a game below or Create a Game</h3>
            <div class="scroll">
                <a href="#">Game 1</a>
                <a href="#">Game 2</a>
                <a href="#">Game 3</a>
                <a href="#">Game 4</a>
                <!-- Here pull inputs from the relation inbetween player and game -->
                <!-- Query : SELECT G.name, I.name FROM player P, instructor I, game G, instructs IN 
                    WHERE IN.playerID = P.playerID AND IN.instructorID = I.instructorID -->
            </div>
            <div>
                <input name='create' type="submit" class="buttons" value="Create"></input>
            </div>
        </div>
    </body>
</html>