body{
  background-color: black;
  color: white;
}

.scroll {
    width: 200px;
    height: 150px;
    overflow-y: auto;
  }
  
  .scroll a {
    background-color:white;
    color: black;
    display: block;
    padding: 12px; 
    text-decoration: none;
  }
  
  .scroll a:hover {
    background-color:white;
  }
  
  .scroll a.active {
    background-color: gray;
    color: white;
  }