<!DOCTYPE html>
<html>
    <head>
        <title>Play Beer Game</title>
    </head>
    <body>
        <div id="top_bar">
            <form action="logged_in.html">
                <button id="home_button" class="buttons" type="submit">Home</button>
            </form>
        <div>
        <div id="play_intro">
            <h3>Please fill out the following data to create a game</h3>
            <div>
                <form action="create.html" method="POST"></form>
                {% csrf_token %}
                    <div class="container">
                        <div class="row">
                            <div class="col-sm-3">
                                {% csrf_token %}
                                {{ form }}
                                <input name='create' type="submit" class = "buttons" value="create"></input>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </body>
</html>