   {% extends "server/layout.html" %}
   
   {% block body %}
   <h1>Welcome to the beer Game</h1>
    <p id = "Miscellanous_p">
        The Beer Game is used to simulate the supply chain concept in Economics
    </p>
    <p>
        To continue please login.
    </p>
    
    <div id = "login_part">
        <div>
            <input name="username" type="text" placeholder="Username">
        </div>
        <div>
            <input name="password" type="password" placeholder="Password">
        </div>
        <div>
            <input name="remember" type="radio" value="Remember me"> Remember me
        </div>
            <button href="player/index.html"  id="login_button" class="buttons" type="submit">Login</button>
        <div>
            New Users :  <a href="server/registration.html">register here</a> 
        </div>
    </div>
    {% endblock %}