{% extends "server/layout.html"%}
   
{% block body %}
<h1>Welcome to the beer Game</h1>
<p id = "Miscellanous_p">
    Please register yourself here
</p>
<div id = "login_part">
    <form action="registration.html" method="POST">
        <div class="container">
            <div class="row">
                <div class="col-sm-3">
                    <h2>Registration</h2>
                        <p>Please fill out details</p>
                        {% csrf_token %}
                        {{ form }}
                        <div>
                        <input name='register' type="submit" class = "buttons" value="Register"></input>
                        </div>
                    </div>
                </div>
            </div>
    </form>
</div>
{% endblock %}